@import url(https://fonts.googleapis.com/css?family=Economica:400,700);


.title {
padding: 88px;
position: relative;
text-align: center;
font-size: 80px;
color: aliceblue;
}

.mediPlayer {
  padding left: 50px;
  padding right: 50px;
  position: relative;
  text-align: center;
  
  
  
}






body {
  background: #c0392b;
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-backface-visibility: hidden;

}



